:host {
  display: block;
  padding: 1rem;
  .container {
    max-width: 420px;
    margin: auto;
    .option {
      height: 64px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 2px solid var(--color-gray);
      &:focus-within {
        outline: var(--outline);
      }
      neat-radio {
        margin-left: 1rem;
        --outline: none;
      }
    }
  }
}
