<label>
  <div class="left-container">
    <span class="selected-option">{{ value }}</span>
    <span class="label">{{ label }}</span>
  </div>
  <select
    #select
    [value]="value"
    [required]="required"
    (click)="showOptions($event)"
    (keydown.enter)="showOptions($event)"
    (change)="change($event)"
  >
    <option *ngFor="let option of options" [value]="option">{{
      option
    }}</option>
  </select>
  <neat-icon [name]="'misc-arrow'" [size]="'xxsmall'"></neat-icon
></label>

<neat-options
  [@slideInOut]="opened ? 'visible' : 'hidden'"
  [options]="options"
  [value]="value"
  (onSelected)="onSelected($event)"
></neat-options>
