:host {
  font-family: Pluto-Regular;
  max-width: 272px;

  label {
    position: relative;
    height: 64px;
    overflow: hidden;
    display: grid;
    grid-gap: 1rem;
    align-items: center;
    grid-template-columns: auto 64px;

    &:focus-within {
      outline: var(--outline);
    }

    .left-container {
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: space-evenly;
      font-size: 1rem;

      .selected-option {
        transition: font-size 0.5s ease-in-out;

        &:empty {
          display: none;
        }
        &:not(:empty) ~ .label {
          font-size: 0.9rem;
          color: #5a6872;
          font-family: SF-Pro-Display-Regular;
        }
      }

      .label {
        order: -1;
      }
    }

    select {
      opacity: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      &:focus {
        outline: none;
      }
      option {
        display: none;
        // hack for ios because display none is not enough
        opacity: 0;
        height: 0;
        width: 0;
        overflow: hidden;
      }
    }

    neat-icon {
      justify-self: flex-end;
    }
  }

  neat-options {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    background: var(--color-white);
  }
}
