<form [formGroup]="formGroup">
  <h2 class="title">Neat select using Angular with animations</h2>

  <neat-select
    label="Random takes"
    [value]="option"
    [options]="optionList"
    formControlName="option"
  ></neat-select>
  <neat-select
    label="Random takes"
    [value]="option"
    [options]="optionList"
    formControlName="option"
  ></neat-select>
  <neat-select
    label="Random takes"
    [value]="option"
    [options]="optionList"
    formControlName="option"
  ></neat-select>
</form>
