<form [formGroup]="formGroup">
  <h2 class="title">Neat select using Angular with animations</h2>
  <neat-select
    label="Type de défaut de revêtement"
    [value]="typeDefautRevetement"
    [options]="typeDefautRevetementOptions"
    formControlName="typeDefautRevetement"
  ></neat-select>
  <neat-select
    label="Type de défaut de revêtement"
    [value]="typeDefautRevetement"
    [options]="typeDefautRevetementOptions"
    formControlName="typeDefautRevetement"
  ></neat-select>
  <neat-select
    label="Type de défaut de revêtement"
    [value]="typeDefautRevetement"
    [options]="typeDefautRevetementOptions"
    formControlName="typeDefautRevetement"
  ></neat-select>
</form>
