// Pluto
// TODO: remove unused fonts
@font-face {
  font-family: Pluto-Bold;
  src: url(assets/fonts/Pluto/PLUTOBOLD.OTF);
}
@font-face {
  font-family: Pluto-Light;
  src: url(assets/fonts/Pluto/PLUTOLIGHT.OTF);
}
@font-face {
  font-family: Pluto-Regular;
  src: url(assets/fonts/Pluto/PLUTOREGULAR.OTF);
}
@font-face {
  font-family: Pluto-RegularItalic;
  src: url(assets/fonts/Pluto/PLUTOREGULARITALIC.OTF);
}

// Roboto
// TODO: remove unused fonts
@font-face {
  font-family: Roboto-Black;
  src: url(assets/fonts/Roboto/Roboto-Black.ttf);
}
@font-face {
  font-family: Roboto-BlackItalic;
  src: url(assets/fonts/Roboto/Roboto-BlackItalic.ttf);
}
@font-face {
  font-family: Roboto-Bold;
  src: url(assets/fonts/Roboto/Roboto-Bold.ttf);
}
@font-face {
  font-family: Roboto-BoldItalic;
  src: url(assets/fonts/Roboto/Roboto-BoldItalic.ttf);
}
@font-face {
  font-family: Roboto-Light;
  src: url(assets/fonts/Roboto/Roboto-Light.ttf);
}
@font-face {
  font-family: Roboto-LightItalic;
  src: url(assets/fonts/Roboto/Roboto-LightItalic.ttf);
}
@font-face {
  font-family: Roboto-Medium;
  src: url(assets/fonts/Roboto/Roboto-Medium.ttf);
}
@font-face {
  font-family: Roboto-MediumItalic;
  src: url(assets/fonts/Roboto/Roboto-MediumItalic.ttf);
}
@font-face {
  font-family: Roboto-Regular;
  src: url(assets/fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: Roboto-RegularItalic;
  src: url(assets/fonts/Roboto/Roboto-RegularItalic.ttf);
}
@font-face {
  font-family: Roboto-Thin;
  src: url(assets/fonts/Roboto/Roboto-Thin.ttf);
}
@font-face {
  font-family: Roboto-ThinItalic;
  src: url(assets/fonts/Roboto/Roboto-ThinItalic.ttf);
}

// SF-Pro-Display
// TODO: remove unused fonts
@font-face {
  font-family: SF-Pro-Display-Regular;
  src: url(assets/fonts/SF-Pro-Display/SF-Pro-Display-Regular.otf);
}
@font-face {
  font-family: SF-Pro-Display-Bold;
  src: url(assets/fonts/SF-Pro-Display/SF-Pro-Display-Bold.otf);
}
@font-face {
  font-family: SF-Pro-Display-RegularItalic;
  src: url(assets/fonts/SF-Pro-Display/SF-Pro-Display-RegularItalic.otf);
}
