@import 'fonts.scss';

:root {
  --color-white: #ffffff;
  --color-gray: #f0f3f6;

  --outline: 3px solid var(--color-gray);
}

html,
body {
  height: 100%;
  margin: 0 auto;
  position: relative;
  max-width: 420px;
  overflow-x: hidden;
  font-family: Roboto-Regular;
}

* {
  box-sizing: border-box;
}
