@import 'fonts.scss';

:root {
  --color-white: #ffffff;
  --color-border-bottom: #f0f3f6;
}

html,
body {
  height: 100%;
  margin: 0;
  position: relative;
  overflow-x: hidden;
  font-family: Roboto-Regular;
}

* {
  box-sizing: border-box;
}
